<!DOCTYPE html>
<html>
  <head>
    <title>FlickrApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:notice] %>
      <div class="notification is-primary global-notification has-text-centered">
        <p class="notice"><%= notice %></p>
      </div>
    <% elsif flash[:alert] %>
      <div class="notification is-danger is-light global-notification has-text-centered">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="level">
      <div class="level-item has-text-centered">
        <h1 class="title">Flickr Search</h1>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
